@tailwind base;
@tailwind components;
@tailwind utilities;

.trans {
    @apply transition-all ease-in-out duration-200
}

.nav-bar {
    @apply px-10 py-0.5 bg-clr-0 fixed top-0 w-full ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.disclosure-btn {
    @apply flex w-full justify-between rounded-lg bg-clr-5 px-4 py-2 text-left font-medium text-clr-2 trans
}

.disclosure-btn:hover {
    @apply bg-clr-7
}

.disclosure-btn:focus {
    @apply outline-none
}

.disclosure-btn:focus-visible {
    @apply ring ring-purple-500 ring-opacity-75
}

.disclosure-panel {
    @apply px-4 pt-4 pb-2 text-clr-3
}
